.page-header {
    font-size: 100px;
    color: white;
    background-color: #013369;
}

hr {
    width: 100%;
    height: 7px;
    background-color:  #013369;
    margin-right: auto;
    margin-left: auto;
    border-width: 3px;
    border-color: #D50A0A;
}

.tableauPlaceholder {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.page-footer {
    color: white;
    background-color: #013369;
}