<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Post-Play</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../static/CSS/style.css">

    
</head>

<body>
    <div class="container-fluid">
        <div class="topnav">
            <a class="active" href="../index.html">Home</a>
            <a href="../templates/preplay.html">Pre-Play Inputs</a>
            <a href="../templates/postplay.html">Post-Play Inputs</a>
            <a href="../tableaudash.html" target="_blank">Tableau Dashboard</a>
            <a href="../tableaustory.html" target="_blank">Tableau Story</a>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <img alt="NFL Logo" src="../static/images/nfl_logo.png" style="float:left" >
                        <center style="position:relative; top:70px;"><b>Punt, Pass, & Predict</b></center>
                        <br>
                </div>
            </div>
        </div>
        <div class="row-play">
            <hr>
            <center><form id ="postplay" action="{{ url_for('main') }}" method="GET">
                <div class="col-md-12">
                    <br>
                    <center><h3>
                        Post-Play Inputs
                    </h3></center>
                    <br>
                    <label for="playType"><b>Play Type:</b></label>
                    <select id="playType" name="playType">
                        <option value="dSelect">Select</option>
                        <option value="run">Run</option>
                        <option value="pass">Pass</option>
                        <option value="fieldGoal">Field Goal</option>
                        <option value="punt">Punt</option>
                    </select>
                    <br>
                    <label for="yards"><b>Yards:</b></label>
                    <input type="number" id="yards" name="yards">
                </div>
                <br>
                <center><input type="submit" value="Submit"></center>
                <br>
                    <div class="result" align="center">
                    {% if result %}
                        <br>
                        <br> Predicted Play:
                            <p style="font-size:50px">{{ result }}</p>
                    {% endif %}
                </div>
            </form></center>
        </div>
        <hr>
        <!-- <div class="row">
            <div class="col-md-12">
                <div class='tableauPlaceholder' id='viz1590530184157' style='position: relative'>
                    <noscript>
                        <a href='#'>
                            <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pr&#47;Project_3_NFL&#47;TeamDashboard2&#47;1_rss.png' style='border: none' />
                        </a>
                    </noscript>
                    <object class='tableauViz'  style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                        <param name='embed_code_version' value='3' /> 
                        <param name='site_root' value='' />
                        <param name='name' value='Project_3_NFL&#47;TeamDashboard2' />
                        <param name='tabs' value='no' /><param name='toolbar' value='yes' />
                        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pr&#47;Project_3_NFL&#47;TeamDashboard2&#47;1.png' /> 
                        <param name='animate_transition' value='yes' />
                        <param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' />
                        <param name='filter' value='publish=yes' />
                    </object>
                </div> 
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-12">
                <div class="page-footer">
                    <br>
                    <center><h5>
                        Punt, Pass, & Predict 
                    </h5>
                    <h7>
                        Property of and created by: Chad Gielow, Christian, Philip Molier, and Ty Sorensen
                        <br>
                        Year: 2020
                    </h7></center>
                    <br>    
                </div>  
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../static/js/app.js"></script>
</body>

</html>
